*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;

}
html, body{
    height:100%;
    overflow: hidden;
}
:root{
    /* dark basic them  */
    --blackblue:#0D1117;
    --offwhite:#EAEAEA;
    --drakgray:#1F2937;
    --softred:#FF6B6B;
}
body{
    background-color: var(--blackblue);
    color: var(--offwhite);
    font-family: Arial, sans-serif;

}
header{
    text-align: left;
    padding: 20px;
    font-size: 24px;
}
nav{
    /* background-color:; */
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    padding: 15px;
    border-radius: 15px;

}
nav ul{
    list-style: none;
}
nav ul li{
    text-decoration: none;
    color: var(--offwhite);
    font-size: 20px;
    display: block;
    padding: 15px;
    transition: 0.3s;
    /* color: var(--offwhite); */
}
nav ul li:hover{
    background-color: var(--offwhite);

    border-radius: 15px;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 4px;

}
#clock{
    font: 700 6rem Arial;
    /* background-color: #eaeaea31; */
    padding: 20px;
    border-radius: 15px;
}
#clock button{
    padding: 10px 20px;
    background-color: var(--drakgray);
    border: none;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    font: 700 20px Arial;
    color: whitesmoke;
}
#clock button:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: #EAEAEA;

}
#sounds{
    /* text-align: left; */
    position: absolute;
    left: 20px;
    bottom: 20px;


}

#play{
    background-color: var(--drakgray);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    color: whitesmoke;

}
#play:hover {
    background-color: #EAEAEA;
    color: #0D1117;
}
#soundList {
    list-style:none ;
    padding: 0;
    margin: 0;
    background-color: var(--blackblue);
    border-radius: 10px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    z-index: 100;

}
#soundList li {
    padding: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: left;
}

#soundList li a {
    text-decoration: none;
    color: var(--offwhite);
    display: block;
    transition: 0.3s;
}
#soundList li a:hover {
    background-color: var(--softred);
    border-radius: 5px;
}
.hidden {
    display: none;
}
#fullScreen{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: var(--drakgray);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    color: whitesmoke;
}